<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <BsddRevitPlugin.Properties.Settings>
      <setting name="SearchWindowWidth" type="System.Double" scope="User">
        <value>800</value>
      </setting>
      <setting name="SearchWindowHeight" type="System.Double" scope="User">
        <value>800</value>
      </setting>
      <setting name="SearchWindowLeft" type="System.Double" scope="User">
        <value>100</value>
      </setting>
      <setting name="SearchWindowTop" type="System.Double" scope="User">
        <value>100</value>
      </setting>
    </BsddRevitPlugin.Properties.Settings>
  </userSettings>
</configuration>