html {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 1.5;
}
body {
  background-color: #f0f0f0;
  padding: 0.5rem;
}
html, body, form, #main {
  height: 100%;
}
h1, h2, h3, h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.row  {
  padding-left: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.row img {
  height: 18px;
  margin: auto 0;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.row h1 {
  margin-right: auto;
  margin-left: 15px;
}
.title {
  width: auto !important;
  margin-left: 0.5rem !important;
}
.btn_properties{
  margin: auto 0;
  border: 1px solid #ced4da !important;
  border-radius: .25rem;
  height: initial !important;
}
.header {
  border-bottom: 1px solid #ced4da !important;
  margin-bottom: 0.5rem;;
}
.section  {
  padding-right: 1.1rem;
}
.card, .card-body{
  border-width: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
input {
  vertical-align: middle;
  padding: 2rem;
}
input[type="checkbox"]{
  height: 1.5em !important;
  width: 1.5em !important;
  margin-left: 0;
  margin-right: 0.5em;
}
.highlight {
  outline: 2px solid #497cab !important;
  /* background-color: #b4d5fe; */
  padding: 2px;
}
#main{
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}
#footer{
  padding-top: 1rem;
  padding-bottom: 2rem;
  overflow: hidden;
}

#header{
  padding-top: 1rem;
  height:16%;
  overflow: hidden;
}
label{
  height: 2rem;
  padding: 0;
  padding-right: 0 !important;
  margin-bottom: 0;
}